<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Мясо по-французски</h5>
                <p class="grey-text text-lighten-4">Самый вкусный рецепт любимого блюда.</p>
            </div>
        </div>
    </div>
</footer>